.dart_tool/
.packages
.pub/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
*.log
